@{
    ViewBag.Title = "Contact";
}
<!-- Page -->
<link rel="stylesheet" href="~/Template/assets/css/pages/profile.css">
<!-- Plugin -->
<!-- Stylesheets -->
<link rel="stylesheet" href="~/Template/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Template/assets/css/bootstrap-extend.min.css">
<link rel="stylesheet" href="~/Template/assets/css/site.min.css">

<link rel="stylesheet" href="~/Template/assets/vendor/animsition/animsition.css">
<link rel="stylesheet" href="~/Template/assets/vendor/asscrollable/asScrollable.css">
<link rel="stylesheet" href="~/Template/assets/vendor/switchery/switchery.css">
<link rel="stylesheet" href="~/Template/assets/vendor/intro-js/introjs.css">
<link rel="stylesheet" href="~/Template/assets/vendor/slidepanel/slidePanel.css">
<link rel="stylesheet" href="~/Template/assets/vendor/flag-icon-css/flag-icon.css">

<!-- Plugin -->
<link rel="stylesheet" href="~/Template/assets/vendor/ladda-bootstrap/ladda.css">


<!-- Fonts -->
<link rel="stylesheet" href="~/Template/assets/fonts/web-icons/web-icons.min.css">
<link rel="stylesheet" href="~/Template/assets/fonts/brand-icons/brand-icons.min.css">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
<!-- Inline -->
<link href="~/Template/docs/css/buttons.css" rel="stylesheet" />

<!--[if lt IE 9]>
  <script src="~/Template/assets/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->
<!--[if lt IE 10]>
  <script src="~/Template/assets/vendor/media-match/media.match.min.js"></script>
  <script src="~/Template/assets/vendor/respond/respond.min.js"></script>
  <![endif]-->
<!-- Scripts -->
<script src="~/Template/assets/vendor/modernizr/modernizr.js"></script>
<script src="~/Template/assets/vendor/breakpoints/breakpoints.js"></script>
<script>
    Breakpoints();
</script>

<div class="page-profile">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Widget -->
                <div class="widget widget-shadow text-center">
                    <div class="widget-header">
                        <div class="ribbon ribbon-primary">
                            <span class="ribbon-inner">@ViewBag.Title</span>
                        </div>
                        <hr />
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                <img src="~/Content/Contact/sprezFoto.jpg" />
                            </a>
                            <div class="profile-user">Santiago Pérez</div>
                            <div class="profile-job">Art director In CRACK ZOLUTTION</div>
                            <p>
                                Hi! I'm Adrian the Senior UI Designer at AmazingSurge. We hope
                                you enjoy the design and quality of Social.
                            </p>
                            <address>
                                UPM Universidad Pólitecnica de Madrid<br />
                                Madrid, 28031<br />
                                CAMPUS SUR<br />
                                <abbr title="Phone">Phone: +593 92886509</abbr>
                            </address>
                            <address>
                                <strong>Support:</strong>   <a href="mailto:isragoo.prez@gmail.com">isragoo.prez@gmail.com</a><br />
                                <strong>Marketing:</strong> <a href="mailto:isragoo.prez@hotmail.com">isragoo.prez@hotmail.com</a>
                            </address>

                            <div class="example-wrap margin-lg-0">
                                <h4 class="example-title">Social In Labels</h4>
                                <p>
                                    It is often used at the top of a page or section. An social icon
                                    must be with this variation.
                                </p>
                                <div class="col-md-6 col-lg-12">
                                    <div class="example example-buttons">
                                        <a href="https://www.facebook.com/isragoo.prez?ref=bookmarks" class="btn btn-labeled social-facebook">
                                            <span class="btn-label"><i class="icon bd-facebook" aria-hidden="true"></i></span>Facebook
                                        </a>
                                        <a href="https://twitter.com/isragooprez" class="btn btn-labeled social-twitter">
                                            <span class="btn-label"><i class="icon bd-twitter" aria-hidden="true"></i></span>Twitter
                                        </a>
                                        <a href="https://aboutme.google.com/u/0/?referer=gplus" class="btn btn-labeled social-google-plus">
                                            <span class="btn-label"><i class="icon bd-google-plus" aria-hidden="true"></i></span>Google+
                                        </a>
                                        <a href="https://www.linkedin.com/in/santiago-israel-p%C3%A9rez-auqui-2b564045/" class="btn btn-labeled social-linkedin">
                                            <span class="btn-label"><i class="icon bd-linkedin" aria-hidden="true"></i></span>Linkedin
                                        </a>
                                        <a href="https://github.com/isragooprez" class="btn btn-labeled social-github">
                                            <span class="btn-label"><i class="icon bd-github" aria-hidden="true"></i></span>GitHub
                                        </a>
                                        <a href="" class="btn btn-labeled social-youtube">
                                            <span class="btn-label"><i class="icon bd-youtube" aria-hidden="true"></i></span>Tumblr
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Example Social In Labels -->
                            <div class="clearfix visible-md-block"></div>
                        </div>
                    </div>
                    <div class="widget-footer">
                        <div class="row no-space">
                            <div class="col-xs-4">
                                <strong class="profile-stat-count">260</strong>
                                <span>Follower</span>
                            </div>
                            <div class="col-xs-4">
                                <strong class="profile-stat-count">180</strong>
                                <span>Following</span>
                            </div>
                            <div class="col-xs-4">
                                <strong class="profile-stat-count">2000</strong>
                                <span>Tweets</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Page Widget -->
            </div>
        </div>
    </div>
</div>
<!-- Core  -->
<script src="~/Template/assets/vendor/jquery/jquery.js"></script>
<script src="~/Template/assets/vendor/bootstrap/bootstrap.js"></script>
<script src="~/Template/assets/vendor/animsition/jquery.animsition.js"></script>

<!-- Plugins -->
<script src="~/Template/assets/vendor/switchery/switchery.min.js"></script>

<script src="~/Template/assets/vendor/ladda-bootstrap/spin.js"></script>
<script src="~/Template/assets/vendor/ladda-bootstrap/ladda.js"></script>

<!-- Scripts -->
<script src="~/Template/assets/js/core.js"></script>
<script src="~/Template/assets/js/site.js"></script>


<script src="~/Template/assets/js/components/animsition.js"></script>
<script src="~/Template/assets/vendor/ladda-bootstrap/spin.js"></script>
<script src="~/Template/assets/vendor/ladda-bootstrap/ladda.js"></script>


<script>
    (function (document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function () {
            Site.run();
        });
    })(document, window, jQuery);
</script>